[Unit]
Description=LazyCast Wireless Display Receiver
After=network.target multi-user.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/lazycast2.0
Environment=LD_LIBRARY_PATH=/opt/vc/lib
ExecStart=/home/pi/lazycast2.0/lazycast-background.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target